-- Supabase Migration: Student Profiles from SQLite

CREATE TABLE IF NOT EXISTS student_profiles (
  id TEXT PRIMARY KEY DEFAULT 'default',
  display_name TEXT NOT NULL DEFAULT 'Student',
  current_learning_path TEXT DEFAULT '[]',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS session_history (
  id BIGSERIAL PRIMARY KEY,
  student_id TEXT NOT NULL DEFAULT 'default' REFERENCES student_profiles(id),
  session_summary TEXT NOT NULL,
  topics_covered TEXT NOT NULL DEFAULT '[]',
  concepts_mastered TEXT NOT NULL DEFAULT '[]',
  concepts_needing_revision TEXT NOT NULL DEFAULT '[]',
  suggested_next_topic TEXT DEFAULT '',
  student_confidence_signal TEXT DEFAULT 'medium',
  topic_stack TEXT DEFAULT '[]',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS topic_mastery (
  id BIGSERIAL PRIMARY KEY,
  student_id TEXT NOT NULL DEFAULT 'default',
  topic TEXT NOT NULL,
  mastery_level TEXT NOT NULL DEFAULT 'learning',
  explanation_styles_used TEXT DEFAULT '[]',
  times_revised INTEGER DEFAULT 0,
  last_seen_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  UNIQUE(student_id, topic)
);

-- Turn on row level security or grant policies if needed
-- GRANT ALL ON TABLE student_profiles TO anon;
-- GRANT ALL ON TABLE session_history TO anon;
-- GRANT ALL ON TABLE topic_mastery TO anon;
